.gamelist-item{
    width:250px;
    height: 160px;
    background: url(../../asset/images/schedule.png) no-repeat;
}
.slider{
    width:1400px;
    padding-top:20px;
}
.schedule{
    width: 100%;
    background: #f7f7f7;
    padding-top: 40px;
    padding-left:70px;
    padding-right:70px;
    padding-bottom: 50px;
}
.ant-cascader-menu{
    width: 180px;
}